{{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_widget(registrationForm) }}
        <div class="button__container">
            <button type="submit" class="button">Enregistrer</button>
        </div>
{{ form_end(registrationForm) }}
