{% extends 'base.html.twig' %}

{% block title %}Acceuil{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block body %}
        <section class="search">
            <form onsubmit="event.preventDefault();" role="search">
                <input id="search" type="search" placeholder="Votre recherche" autofocus required />
                <button class="go" type="submit">Go</button>
            </form>
        </section>
        {% for activity in activities %}
        <a href="{{ path('show', {'id': activity.id}) }}">
            <div class="card">
                <h1 class="title">{{ activity.title }}</h1>
                <div class="elements">
                    <div class="image"><img src="{{ activity.picture }}" alt="{{ activity.sport.name }}"></div>
                    <div class="description">{{ activity.description }}</div>
                </div>
            </div>
        </a>
        {% else %}
            <tr>
                <td colspan="7">Pas d'activités pour le moment</td>
            </tr>
        {% endfor %}
{% endblock %}
